@page
@model IndexModel
@{
    ViewData["Title"] = "EZCode";
}

<style>
    #Input{
        width:90%;
        margin-left:35px;
        margin-right:35px;
        text-align:left;
        height:320px;
    }
    #Output{
        width:90%;
        margin-left:35px;
        margin-right:35px;
        text-align:left;
        height:120px;
    }
    .Console-Input{
        margin:30px;
    }
    .Console-Input input{
        width:90%;
        margin:5px;
        text-align:left;
    }
    .Console-Input button{
        width:12%;
        min-width:75px;
        max-width:100px;
        margin:5px;
        text-align:center;
    }
</style>

<div>
    <div class="text-center">
        <h1>Play around with EZCode!</h1>
    </div>
    <form data="GetInput">
        <div style="margin-top:30px;">
            <h3>Input Your Code</h3>
            <textarea name="Input" id="Input"></textarea>
            <button style="margin:10px; margin-left:35px; width:75px;">Play</button>
        </div>
    </form>
    <div style="margin-top:30px;">
        <h3>Console Output</h3>
        <textarea readonly="readonly" name="Output" id="Output"></textarea>
    </div>
    <!--<h3 style="margin-top:30px">Console Input</h3>
    <div class="Console-Input">
        <input name="ConsoleInput" id="ConsoleInput">
        <button>Send</button>
    </div>-->
</div>